body {
    font-family: 'Ubuntu', sans-serif;
}

#title-container {
    margin: auto;
    display: flex;
    justify-content: center;
}

#title {
    font-family: 'Poiret One', cursive;
    font-size: 100px;
    text-align: center;
}

.modal {
    opacity: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;

    text-align: center;

    background-color: #eee;
    border-radius: 45px;

    padding: 20px;

    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
}

.button {
    background: none;

    border: 2px solid #ccc;
    border-radius: 40px;

    padding: 0 20px;
}

.button:hover,
.button:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;

    cursor: pointer;
    background-color: #ccf;

    box-shadow: 10px 0 20px rgba(150, 150, 255, 0.4), -10px 0 20px rgba(150, 150, 255, 0.4);

    transition: box-shadow .5s, background-color .5s;
}

#content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#start-screen {
    display: flex;
    justify-content: center;
}

#start-button {
    font-size: 35px;
}

#options-button {
    padding: 5px;
}

#cog {
    width: 55px;
    height: 55px;
}

#options {
    background-color: #fff;
    width: 400px;
}

#options-content {
    padding-top: 0;
}

#options-close-button {
    background: none;
    border: none;
    padding: 0;

    font-size: 40px;
    font-weight: bold;
    color: #777;

    align-self: flex-end;
    position: fixed;
}

#options-close-button:hover,
#options-close-button:focus {
    cursor: pointer;
    color: #ccc;
    box-shadow: none;
}

#options-header {
    margin-top: 50px;
    margin-bottom: 0px;

    font-size: 40px;
}

.options-screen-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options-section-title {
    font-size: 35px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
}

.options-item {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-label {
    font-size: 25px;
    margin: 5px 0;
}

input[type="range"] {
    width: 400%;
}

output {
    font-size: 25px;
}

.input-output {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.radio-option-and-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-label {
    font-size: 30px;
}

#apply-button {
    -webkit-appearance: none; /*The text won't change according to this file without this*/
    -moz-appeareance: none;
    appearance: none;

    font-size: 30px;

    margin-top: 25px;
    padding-bottom: 5px;
}

.note {
    margin-top: 20px;
    font-size: 15px;
    color: #888;
    width: 75%;
    text-align: center;
}

#buttons-section {
    order: 1;
    flex-grow: 2;
    display: none;
    justify-content: center;

    margin: 10px 40%;
}

.game-button {
    margin: auto 40px;

    font-size: 40px;

    display: flex;
    justify-content: center;
}

#stats-section {
    order: 2;
    display: none;
    flex-direction: column;
    align-items: center;
}

.stats {
    font-size: 40px;
    margin: 10px 0;
    padding: 0 10px;
    width: auto;

    background-color: #bbf;
    border-radius: 45px;
    box-shadow: 0 0 40px rgba(150, 150, 255, 0.8);
}

#star-rating {
    display: flex;
    justify-content: center;
}

.star {
    width: 45px;
    height: 45px;

    margin: 5px;
}

#grid {
    order: 3;
    flex-grow: 1;
    display: flex;

    flex-wrap: wrap;
    flex-direction: column;

    width: 100%;

    margin: auto;
    padding: 10px;

    align-items: center;
}

.grid-row {
    display: flex;

    flex-wrap: row;
    justify-content: center;
}

.card {
    margin: 10px;

    background-color: white;

    width: 150px;
    height: 150px;

    border: 1px solid #888;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 20px rgba(120, 120, 255, .7);
}

.active-card:hover {
    cursor: default;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.matched-card {
    transition: background-color .5s; /*To only animate the color transition of matched cards*/
    cursor: default;
}

.matched-card:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.card-image {
    width: 50px;
    height: 50px;
}

#win-content {
    height: 60%;
}

.win-text {
    font-size: 40px;
    padding: 10px;
}

.win-stats {
    margin: auto;
}

#win-reset {
    margin: auto;
}

@media screen and (min-width: 950px) {
    #grid {
        order: 2;
        align-items: flex-end;
        width: auto;
    }

    #stats-section {
        order: 3;
        flex-grow: 1;
        align-items: flex-start;
    }

    .stats{
        margin: auto 0;
    }
}
